<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
  		<title th:text="#{registration.title}">Registration</title>
  		<link rel="stylesheet" href="/css/registration.css" />
	</head>
	<body>
		<div class="center">
  
  			<div class="navbar-brand" href="#">
					Üdvözöljük a Torda honlap hírszerkesztő felületén
			</div>
  			<nav class="topnav" id="nav">
  				<a href="Admin/registration.html">Regisztráció</a>
  				<a href="Admin/login.html">Belépés</a>
  				<a href="javascript:void(0);" class="icon" onclick="responsiveMenu()">&#9776;</a>
  			</nav>
  	
  			<script>
				function responsiveMenu() {
    				var x = document.getElementById("nav");
    				if (x.className === "topnav") {
        				x.className += " responsive";
    				} else {
       					x.className = "topnav";
    				}
				}
			</script>

	
			<div class="regform">
				<form id="reservationForm" action="#" th:action="@{/}" th:object="${loginform}" method="post">
			
					<label th:text="#{registration.form.label.loginName}">Login name:</label>
					<span th:if="${#fields.hasErrors('loginName')}" th:errors="*{loginName}">Error</span>
					<input type="text" th:field="*{loginName}" style="border-radius: 10px"/>
			
					<label th:text="#{registration.form.label.password}">Password:</label>
					<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
					<input type="password" th:field="*{password}" style="border-radius: 10px"/>
			
					<input type="submit" />
				</form>
			</div>
		</div>	
	</body>
</html>