<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
  		<title th:text="#{registration.title}">Registration</title>
  		<link rel="stylesheet" href="/css/registration.css" />
	</head>
	<body>
	
		<div class="center">
  
  			<div class="navbar-brand" href="#">
					Üdvözöljük a Torda honlap hírszerkesztő felületén
			</div>
  			<nav class="topnav" id="nav">
  				<a href="registration.html">Regisztráció</a>
  				<a href="login.html">Belépés</a>
  				<a href="javascript:void(0);" class="icon" onclick="responsiveMenu()">&#9776;</a>
  			</nav>
  	
  			<script>
				function responsiveMenu() {
    				var x = document.getElementById("nav");
    				if (x.className === "topnav") {
        				x.className += " responsive";
    				} else {
       					x.className = "topnav";
    				}
				}
			</script>		
		
			<div class="regform">
				<form id="reservationForm" action="#" th:action="@{/}" th:object="${form}" method="post">
					<input type="hidden" th:field="*{id}" />
			
					<label th:text="#{registration.form.label.firstName}">First name:</label>
					<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Error</span>
					<input type="text" th:field="*{firstName}" style="border-radius: 10px"/>
			
					<label th:text="#{registration.form.label.lastName}">Last name:</label>
					<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error</span>
					<input type="text" th:field="*{lastName}" style="border-radius: 10px"/>
			
					<label th:text="#{registration.form.label.loginName}">Login name:</label>
					<span th:if="${#fields.hasErrors('loginName')}" th:errors="*{loginName}">Error</span>
					<input type="text" th:field="*{loginName}" style="border-radius: 10px"/>
			
					<label th:text="#{registration.form.label.password}">Password:</label>
					<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
					<input type="password" th:field="*{password}" style="border-radius: 10px"/>
			
					<label th:text="#{registration.form.label.email}">Email:</label>
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
					<input type="email" th:field="*{email}" style="border-radius: 10px" />
			
					<label th:text="#{registration.form.label.birthday}">Birthday:</label>
					<span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Error</span>
					<input type="date" th:field="*{birthday}" style="border-radius: 10px"/>
			
					<button th:if="${registrationForm.id != null}" type="submit" name="action" value="save" th:value="${T(org.training.torda.model.User.Action).SAVE}" th:text="#{registration.form.action.save}">Save changes</button>
      				<button th:if="${registrationForm.id == null}" type="submit" name="action" value="save" th:value="${T(org.training.torda.model.User.Action).SAVE}" th:text="#{registration.form.action.create}">Create new employee</button>
			
				</form>
			</div>
			
		</div>	
	</body>
</html>