<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  

<head>
  <title th:text="#{registration.title}">Felhasználói lista</title>
  <!-- <link rel="stylesheet" href="../static/css/employee-list.css" th:href="@{css/employee-list.css}" />-->
</head>

<body>

  <div>
	
    <div class="resultHead">
      <h1 th:text="#{registration.heading}">Users</h1>
    </div>

    <!--<div class="searchForm">
      <form action="#" th:action="@{/}" method="get">
        <label for="searchBox" th:text="#{employees.action.search.caption}">Search for employees</label> 
        <input id="searchBox" class="hint" type="text" name="searchTerm" placeholder="type a name, or e-mail address"	th:placeholder="#{employees.action.search.textbox.placeholder}" autocomplete="off" />
        <button id="searchSubmit" class="submit" title="Search"	th:title="#{employees.action.search.button.title}" type="submit"></button>
      </form>
    </div>  -->

    <br />
    
    <div>Szia</div>

    <div th:if="${not #lists.isEmpty(users)}">
      <ul>
        <li th:each="user : ${users}" th:id="${'user' + user.id}">
          <!--<a href="users.html" th:href="@{/userlist.html(userId=${user.id})}">-->
              <div th:text="${user.loginName}">Employee LoginName</div>
              <div th:text="${user.email}">Job Function</div>
          <!--</a>-->
        </li>
      </ul>
    </div>

    <div class="no-results" th:if="${#lists.isEmpty(users)}" th:text="#{userlist.info.no-records}">
      Sorry, we do not have matching employees in the database.
    </div>
				
    <!--<form action="#" th:action="@{/employee-details.html}" method="get">
      <button type="submit" th:text="#{employees.action.createEmployee}">Create new Employee</button>
    </form>-->
    
  </div>
</body>
</html>	