.carousel-inner img {
	width: 400px; /* Set width to 100% */
	margin: auto;
}
li a:link, li a:visited {
	color: #fff !important;
	background-color: #449d44 !important;
}
li a:hover, li a:active {
	color: #fff !important;
	background-color: #5cb85c !important;
}
.dropdown-menu{
	background-color: #5cb85c !important;
}
.navbar-brand{
	color: #fff !important;
	background-color: #449d44 !important;
}
.navbar{
	color: #fff !important;
	background-color: #449d44 !important;
}
.icon-bar{
	background-color:#fff !important;
}
.affix {
	top:0;
	width: 100%;
	z-index: 9999 !important;
}
.affix ~ .container-fluid {
	position: relative;
	top: 100px;
}
.btn-succes{
	background-color:#00bcd4 !important;
}
.navbar-inner{
	text-align: center !important;
	float: none !important;  
}