@CHARSET "ISO-8859-1";

label, button, input {
	display:block;
	margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    text-align:center;
}

a {
	text-decoration:none;
}

a:link, a:visited {
	background-color:#449d44
}

a:hover, a:active {
	background-color: #4cae4c;
}

.regform {
    margin: 0 auto;
    background-color: #f5f5f5;
    border-color: #ddd;
    box-shadow: 3px 3px 4px #ddd;
    border-radius: 5px;
    text-align: center;
}

.text[type="text"] {
    float: left;
    background: #fbf7e8;
    padding: 5px;
    border: 1px solid #c5b78a;
    margin: 2px 0 20px 10px;
    border-radius: 5px;
}

#submitReservation{
    padding: 5px 20px;
    border: 0;
    background: #374140;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.center {
	position:fixed;
	height:100%;
	z-index: 1;
   	top: 0;
   	left: 0;
   	width: 100%;
	text-align:center;
}

.topnav {
	background-color:#449d44;
	padding: 20px;
}

.topnav .icon {
  display: none;
  padding:10px;
}

.topnav a {
	margin:auto;
  	border-color: #4cae4c;
  	border-style: solid;
  	border-width: 1px;
  	border-radius: 5px;
  	color: #FFFFFF;
  	text-align: center;
  	font-size: 18px;
  	padding: 15px;
}

#reservationForm {
	top: 0;
    padding:30px;
    text-align:center;
    font-family: Helvetica;
    font-size: xx-medium;
}

.message {
    display: none;
}

.navbar-brand {
    font-family: Verdana,sans-serif;
    text-align: center;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	color: #fff !important;
	background-color: #449d44 !important;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a:first-child {display: none;}
  .topnav a.icon {
    float: right;
    position: fixed;
    display: block;
    top:0;
    right:0;
  }
  .topnav {
  	padding:25px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
  	position: relative;
  	padding:0px 40px 0px 0px;
  }
  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top:0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}