<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>Aracs Hagyományápoló Társaság Torda</h2>
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%">A tordai  Aracs Hagyományápoló Társaság 1999.február 7-én alakult 15 alapító taggal Tordán.  Ma már  több mint 50 tag fölé emelkedett a tagság létszáma. Köztünk volta híres festőművész, aki már a hetvenes évek kezdetétől rajzaival, festményeivel megörökítette a Pusztatemplomot – Fejes István, van sorainkban Tanár, Tanító, Földműves, Munkás, Nyugdíjas, Technikus, Mérnök. A fafaragó művész Fürtön István és a többiek.</div>
					<div style="text-align:justify; text-indent:5%">Egy ugyanaz köt bennünket össze – a Pusztatemplomért való lelkesedés és tenniakarás.</div>
					<div style="text-align:justify; text-indent:5%">A társaságnak három fő célja van:</div>
					<div style="text-align:justify; text-indent:5%">1. A magyar világ figyelmét felhívni, hogy itt a bánáti síkság közepén a pusztában áll egy romtemplom, amely a magyarság történelmi múltjának , anyagi, szellemi kincsének jelképe. Az egyetlen még fennálló egyházi műemlék ezen a vidéken, sívár jelenével és reménytelen jövőjével. Ezen szeretnénk mi változtatni, oda hatni, hogy e csodálatos alkotás fennmaradhasson a jövő századnak is.</div>
					<div style="text-align:justify; text-indent:5%">2. A Pusztatemplom ápolása, környékének rendezése, évente több munkaakcióval. A műemlék megvédése mindenféle külső beavatkozástól.</div>
					<div style="text-align:justify; text-indent:5%"> 3. Évente egy ünnepség megtartása alkalmi műsorral és Szentmisével augusztus 1-én. Ezen a napon Vránovát  Aracsnak keresztelték. Amikor augusztus 1. nem vasárnapra esik akkor július utolsó vasárnapja az ünnep.</div>
					<div style="text-align:justify; text-indent:5%">Eddig 11. emlékünnepséget szerveztünk szentmisével, magyar művelődési műsorral, 700-800 látogató van ilyenkor, a Pusztatemplom teljesen megtelik.</div>
					<div style="text-align:justify; text-indent:5%">A társaságunk tagjai többször kilátogatnak felügyelés, megvigyázás céljából gépkocsival, kerékpárral, motorkerékpárral, vagy ha rossz az idő, sár van akkor gyalog.</div>
					<div style="text-align:justify; text-indent:5%">Az Aracsi Pusztatemplom történeteiről, legendáiról  egy ismeretterjesztő könyvsorozatot  adunk ki amely már a nyolcadik kiadásnál tart.</div>
					<div style="text-align:justify; text-indent:5%"> A vezetőség öt tagú : egy tanár, egy földműves, két nyugdíjas és a földműves szövetkezet titkára.</div>
					<br/>
					<div style="text-align:justify; text-indent:5%">Vajda János – elnök</div>
					<div style="text-align:justify; text-indent:5%">23 214 Torda, Petőfi Sándor u. 58.</div>
					<div style="text-align:justify; text-indent:5%">Tel:+38123831063</div>
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
