<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>Testvértelepülések</h2>
					<br/>
					<br/>
					<div>
					<a class="text-center" href="http://www.tiszaalpar.hu">Tiszaalpár-Magyarország <img src="../static/images/tiszaalparcimer.gif" th:src="@{/images/tiszaalparcimer.gif}" class="img-thumbnail img-responsive" style="width:10%;"/></a>
					</div>
					<br/>
					<div>
					<a class="text-center" href="http://www.bihartorda.hu">Bihartorda-Magyarország <img src="../static/images/Bihartorda.jpg" th:src="@{/images/Bihartorda.jpg}" class="img-thumbnail img-responsive" style="width:10%;"/></a>
					</div>
					<br/>
					<div>
					<a class="text-center" href="http://www.balastya.hu">Balástya-Magyarország <img src="../static/images/balastya_cimer.jpg" th:src="@{/images/balastya_cimer.jpg}" class="img-thumbnail img-responsive" style="width:10%;"/></a>
					</div>
					<br/>
					<div>
					<a class="text-center" href="http://www.primturda.ro/">Torda (Turda)-Románia <img src="../static/images/ban1.gif" th:src="@{/images/ban1.gif}" class="img-thumbnail img-responsive" style="width:10%;"/></a>
					</div>
					<br/>
					<div>
					<a class="text-center" href="#ujszentes">Újszentes ( Dumbrăviţa)-Románia</a>
					</div>
					<br/>
					<div>
					<a class="text-center" href="http://www.pacir.rs">Pacsér-Szerbia <img src="../static/images/pacser_cimer.jpg" th:src="@{/images/pacser_cimer.jpg}" class="img-thumbnail img-responsive" style="width:10%;"/></a>
					</div>
					<br/>
					<div>
					<a class="text-center" href="http://www.feketics.com/index-hu.php">Bácsfeketehegy-Szerbia <img src="../static/images/bacsfeketehegy_cimer.jpg" th:src="@{/images/bacsfeketehegy_cimer.jpg}" class="img-thumbnail img-responsive" style="width:10%;"/></a>
					</div>
					<br/>
					<br/>
					<h2 id="ujszentes">ÚJSZENTES</h2>
					<br/>
					<br/>
 
					<div style="text-align:justify; text-indent:5%">1899-ig Vadászerdő, románul Dumbrăviţa, korábban Uisentes, némertül Neusentesch.</div>
					<div style="text-align:justify; text-indent:5%">Temes megyében, Temesvártól 4 km-re északra található község amelyet 133 szentesi református család alapitott 1891-92 folyamán a Vadászerdőnek neveyett helzen.1848-ban még erdő boritotta mai Úszentes területét (meg is gyűlt később vele a telepesek baja), de a mai főtér helyén egy tisztás volt. Temesvártól északnyugatra fekszik a megyeszékhellyel összeérő, de közigazgatásilag önálló község.</div>
					<br/>
					<img src="../static/images/jatszoter_es_reformatus_templom.jpg" th:src="@{/images/jatszoter_es_reformatus_templom.jpg}" class="img-thumbnail img-responsive"/>
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%">Újszentest 1891-ben alapították a magyarországi Szentes idetelepülő családjai. A Temesközt a magyarság a honfoglalás után benépesítette ugyan, s a középkorban viszonylag sűrűn lakott, virágzó vidék volt, lakossága a XV-XVIII. századi háborúkban-különösen Temesvár eleste (1552) után-elpusztult vagy elmenekült. A török hódoltság megszűntével a bécsi udvar Temesi Bánság néven kormányozta a vidéket, majd az 1778-as, közigazgatásilag Magyarországhoz való visszacsatolást követően kezdődött meg a telepítés,elsősorban Szeged és a Tiszántúl környékéről. A benépesítés vallási  szempontok alapján (is) zajlott: egy új helységbe vagy csak reformátusokat vagy csak katolikusokat költöztettek. Újszentesen csak református magyarok telepedtek le : 133 család, összesen 768 fő. Ma valamivel több, mint négyszáz református tartozik a gyülekezethez.</div>
					<div style="text-align:justify; text-indent:5%">A település első éveiben megalakult a református egyházközség, majd a felekzeti iskola. 1902-ben kezdték építeni a templomot, melyet 1903 szeptember első vasárnapján szenteltek föl.”Azóta kisebb-nagyobb javításokat végeztek a templomon, de komolyabb belső felújítási munkálatok csak 1991-ben történtek. Az eltelt száz évet a templom külseje súlyosan  megsínylette. Ugyanakkor a telepítés óta eltelt 112 év a gyülekezetet is megvisele. Szórványban lévén, fogy a magyar lakosság, s egyre nehezebben tudja ápolni hitbeli központját és történelmi emlékhelyeit”- állapítja meg a lelkész, Szűcs Otto.</div>
					<div style="text-align:justify; text-indent:5%">2003 –ban centenáriumra készült az újszentesi református közösség, ugyanis szeptemberben volt a helyi református templom felszentelésének századik évfordulója. A lélekemelő ünnepségszervezését és munkálatokat – az istenháza és a parókia renoválását, az új Petőfi-emlékmű elkészítését – elvégezték; az újraszentelést az őszi hónap második hétvégéjén tartották.</div>
					<div style="text-align:justify; text-indent:5%">A munkálatok sóran tatarozták  a parókiát és a templomot, s új márványtáblát helyeztek el a templomkertben álló, 1947-ben felújítot Petőfi-emlékműre.</div>
					<div style="text-align:justify; text-indent:5%">Ma az egykori tábor helyén, a százéves, neogótikus stílusban épült református templom kertjében felújított emlékmű idézi fel Petőfi Sándor emlékét,ezen ahelyen gyűlnek össze emlékezni március idusán a helybeli magyarok.</div>
					<div style="text-align:justify; text-indent:5%">1849 május első napjaiban itt táborozott Bem tábornok serege, és itt csatlakozott hozájuk Petőfi Sándor Az egykori táborhelyen idézi Petőfi emlékét a dombormű. A műemelékre egy új márványlap került – a régit is megőrizték -, amely Petőfi alakját és egy csatajelenetet ábrázol. Az alkotás ifj. Csősz Ferenc kőfaragó munkája,és a helybéli mester vállalta annak az emléktáblának az elkészítését is, amelyen az itt szolgált lelkészek és az eddigi gondnokok nevei olvashatók majd, és amit a templomban helyeznek el, a szentesi kitelepülés századik évfordulójának emléket állító plakett mellett.</div>
					<div style="text-align:justify; text-indent:5%">A községháza falába 1900- ban a következő felitatú (ma már nem létező) emléktáblát belyezték el az újszentesiek:</div>
					<div style="text-align:justify; text-indent:5%">„Örök emlékül annak, hogy a Vadászerdőben 1849. VII/26. Bem József honvéd altábornágy hadtesparancsnok gróf Vécsey Károly parancsnokló tábornak. Pereczy Jozsef hnovédezredes, szabadfalui térparancsnok, Petőfi Sándor honvédőrnagy segédtiszt és több huszártiszt kiséretében a Mészöly Farkas huszár alezredes parancsnoksága alatt állott 14. sz. Lehel-huszárok 3 százada felett nagy szemlét tartott. Ez emléktáblát emelte közadakozásból Vadászerdő (Újszentes) község lakossága 1900.</div>	 
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
