<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>Templomunk védőszentje:</h2>
					<h2>Nepomuki Szent János</h2>
					<br/>
					<img src="../static/images/06_viz9.jpg" th:src="@{/images/06_viz9.jpg}" class="img-thumbnail img-responsive" />
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%">Születése és előremenetele - Wolfflin János 1350-ben született Dél-Csehországban a kicsiny Pomuk (későbbi nevén Nepomuk) helységben. A szegény családból származó, de rendkívül okos János sikeresen fejezte be jogi tanulmányait és egyházjogból doktorátusi (más források szerint magisztrátusi) címet szerzett. Ezután gyorsan haladt fölfelé az egyházi ranglétrán. Az akkori prágai érsek Jenstein (vagy Jentzenstein) János (aki 1381-1396 között ült Prága érseki trónján) helynökévé (állandó helyettesévé) nevezte ki. János pap, a kiváló szónok nagyon népszerű volt Prágában és gyakran megfordult a királyi udvarban is, IV. Vencel cseh király fiatal felesége őt választotta gyóntatójául. Nézeteltérés IV. Vencel Király és János között Mai távlatból nem könnyű utánajárni annak, hogy pontosan miért ölette IV. Vencel király János papot a Prágát keresztülszelő Moldva folyóba. Az erről szóló történetek János meggyilkolását közte és a király közt kialakult súlyos nézeteltérésekkel hozzák kapcsolatba. Leggyakrabban egy olyan meseszerű történetről olvashatunk, amely egy királyi lakomával kezdődik. Egy alkalommal a király udvari társaságával ...  lakománál ült. Hirtelen mindnyájan megdermedtek, mert uruk dühödten tört ki magából, és a szakácsért kiáltott. Úgy látta, rosszul van megsütve a kappan, amit fogyasztani akart. Dühösen megparancsolta, hogy magát a szakácsot húzzák tüsténk nyársra, és süssk meg, jobban, mint ő a kappant. Rémületében senki sem merészkedett ellentmondani a szeszélyes királynak. Akkor fölállt János, a király lába elé esett, és kérte, hogy vonja vissza parancsát: "Uran, királyom, üzend meg a hóhérnak, hogy csak tréfáltál!" A király haragja, ahelyett, hogy csillapodott volna, még jobban föllobbant. Megparancsolta az őrségnek, hogy János papot is vezessék el és vessék börtönbe. János a börtönből nem szabadult meg, onnan egyenesen vesztőhelyére, a Moldva folyó hídjára vezették.</div>
					<div style="text-align:justify; text-indent:5%">A források szerint meglehet, hogy János börtönbe vettetésének kiváltó oka a szakács esete volt, a háttérben azonban egy sokkal komolyabb nézeteltérés lehetett az egyház és a király között.</div>
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
