<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!-- Közép -->				
				<div class="col-sm-8" style="text-align:center; border:2px">
					<h4>Kedves Látogató!
					<br/>
					Köszönti Önt Torda</h4>
					<br/>
					<img src="../static/images/dobaijanos.jpg" th:src="@{/images/dobaijanos.jpg}" alt="Dobai János" class="img-thumbnail img-responsive" />
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%"><strong>Szeretettel köszöntöm azokat, akik az interneten barangolva településünk után érdeklődnek és ezáltal is jobban megismerik ezt a nagy múltú, szorgalmas emberek által lakott települést, amelyet, ha személyesen is felkeresnek bizonyára örökre a szívükbe zárnak.</strong></div>
					<div style="text-align:justify; text-indent:5%"><strong>Torda nevét először 1332-ben említik, majd a törökök elzavarják a lakosságot. Ezután újból 1660-ban említik, majd megint elpusztult helységként jelölik. A falu újratelepítése 1776-ban kezdődik és 1798-ban fejeződik be. Azóta tart Torda település állandó fejlődése</strong>.</div>
					<div style="text-align:justify; text-indent:5%"><strong>Torda szórvány magyar település Vajdaságban, Bánságban, az egykori Torontál vármegyében, Nagybecskerek, Nagykikinda és Törökbecse között. A közelben van a délvidéki magyarság legrégibb emlékműve is, az Aracsi pusztatemplom.</strong></div>
					<div style="text-align:justify; text-indent:5%"><strong>Tordának ma van szilárd betonútja minden utcában, víz- és gázvezetéke és tervbe van véve a szennyvízlevezető  csatornahálózat építése is. Torda híres a gyógy- és termálvízről, amelyet sajnos jelenleg nem hasznosítunk. Ezért várjuk a befektetőket egy kisebb  fürdő kiépítéséhez. amely által hasznosítanánk e vizeket.  Tengerszintfeletti magassága 79 méter. 1960 óta közigazgatásilag Begaszentgyörgy (Žitište) községhez tartozik.</strong></div>
					<div style="text-align:justify; text-indent:5%"><strong>A falu központjában van a Helyi közösség épülete, amely 1968 óta létezik, az 1978-ban épült Egészségház, az 1982-ben épült tetszetős Művelődési Otthon,  az 1986-ban épített Önkiszolgáló, az 1949-ben épült Földműves Szövetkezet épülete,az 1980-ban épült benzinkút, az 1846-1848 között épített ( és azóta többször felújított) Római Katolikus templom, valamint az 1967-ben épült ( és azóta szintén felújított) Plébánia. 1938-ban épült fel a templom  mellett egy új egyemeletes iskola, amelyet 1989-ben teljesen újjáépítettek. Itt van az 1893-ban épült un. régi községháza is ( amelyben most a posta, a tűzoltóotthon és a tornaterem van)  A központban van a tavaly felépített hangulatos vadászotthon is. Az új adatok szerint Torda  bel- és külterülete  5175 hektárt tesz ki.</strong></div>
					<div style="text-align:justify; text-indent:5%"><strong>A falu lakossága egykoron megközelítette az 5000-et. Az 1991-ben végzett népszámlálás alapján 2181 lélekszámot írtak össze. Ebből 1997 a magyar nemzetiségű, vagyis az összlakosságnak a 91,52 %. Ma viszont alig haladja meg az 1400-at az összlakosok száma.</strong></div>
					<div style="text-align:justify; text-indent:5%"><strong>A falut szorgalmas, dolgos, főleg mezőgazdaságból élő polgárok lakják, akik a nehézségek, az anyagiak hiánya ellenére is mindent megtesznek, hogy a település fejlődése ne álljon meg és hogy megőrizze, karbantartsa, szépítse a saját otthonát és a középületeket.</strong></div>
					<div style="text-align:justify; text-indent:5%"><strong>Külön ki kell emelnünk a nyelvünk, kultúránk, hagyományaink ápolását, mintegy tíz civil szervezet segítségével. Jelentős a Tordai  Művelődési Napok, a Falunap (búcsú), Kukoricafesztivál, Aracsi Emléknap rendezvények. Testvértelepülési kapcsolatunk van Tiszaalpárral,  Bihartordával és Balástyával (Magyarország),  Aranyostordával és Újszentessel (Románia), Bácsfeketeheggyel és Pacsérral ( Vajdaság- Szerbia) és még több településsel tartunk fenn szoros baráti kapcsolatot.</strong></div>
					<div style="text-align:justify; text-indent:5%"><strong>Vendégszeretetünkről ismertek vagyunk, ezért látogasson el hozzánk, ha még nem volt és győződjön meg róla, ha pedig járt már nálunk, akkor visszavárjuk!</strong></div>
					<div style="text-align:justify; text-indent:5%"><strong>Végül tiszta szívből köszöntöm azokat, akik bepillantanak honlapunkon mindennapjainkba és legalább egy rövid időre velünk vannak.</strong></div>
					<br/>
					<div style="text-align:right;"><strong>Dobai János
					<br/>
					polgármester</strong></div>
					</div>
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
