<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>Önkéntes Tűzoltó Egyesület</h2>
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%">A tordai önkéntes tűzoltó egyesület megalakulásáról két hivatalos adatot találunk. Hondl János uradalmi kalmár lejegyzései szerint az egyesület  1888-ban alakult, viszont az egyesület csak 1907-ben lett hivatalosan bejegyezve a járási nyilvántartásba. Az egyesület a megalakulása után részt vett a falu művelődési életében is.</div>
					<div style="text-align:justify; text-indent:5%">Az elmúlt egy évszázad alatt nagyon nehéz körülmények között működött az egyesület. Az első tűzoltó kocsi amelyet az egyesület kapott egy 1907-ben gyártott lóvontatású kocsit, de az egy évszázadon át az önkéntes tűzoltók lelkiismeretes munkájának köszönve a kocsi még napjainkban is az egyesület tulajdonában van és üzemképes.</div>
					<div style="text-align:justify; text-indent:5%">Az Önkéntes Tűzoltó Egyesület tagsága minden alkalommal, amikor a falut valamilyen katasztrófa sújtotta, éjjel-nappal segítséget nyújtott a katasztrófa elhárításában, valamint a különböző segélyek gyűjtésében. Az egyesület a mai székhelyét 1991-ben kapta . A kapott épületet nagy szorgalommal és kedvbíró tagság önkéntes munkájával és a helyi közösség anyagi támogatásával adaptálta az épületet és használhatóvá tette. 1996-ban úgyszintén önkéntes munkával felépítette a garázst is.</div>
					<div style="text-align:justify; text-indent:5%">Az egyesület szoros kapcsolatot tart fenn a szomszédos falvak tűzoltó egyesületeivel Nemzetközi kapcsolatot ápol Tiszaalpár, Bihartorda, Balástya, Kiskunfélegyháza tűzoltó egyesületeivel is.</div>
					<div style="text-align:justify; text-indent:5%">Falunk tűzoltói rendszeresen előkelő helyezést értek és érnek el a tűzoltó versenyeken is. Tordát a felnőtt csapaton kívűl ifjúsági lány és fiú csapatok képviselték.</div>
					<div style="text-align:justify; text-indent:5%">2008-ban az egyesület csapata Bihartordán megszervezett nemzetközi versenyeről kimagasló 4. Helyezéssel tért haza, ifjúsági csapatunk alakította a begaszentgyörgyi községi tűzoltó szövetség csapatát a 2009-ben megszervezett vajdaság községei ifjúsági tűzoltó csapatok versenyén és dicséretre méltó második helyezést ért el.</div>
					<img src="../static/images/Ekipa_OVS_Zitiste.JPG" th:src="@{/images/Ekipa_OVS_Zitiste.JPG}" class="img-thumbnail img-responsive" />
					<img src="../static/images/Kovacica2.JPG" th:src="@{/images/Kovacica2.JPG}" class="img-thumbnail img-responsive" />
					<div style="text-align:justify; text-indent:5%">Az önkéntes tűzoltó egyesület 2007-ben kapott ajándékba testvértelepülésünk Tiszaalpár önkormányzatától egy tűzoltó kombit amely a már meglévő kamionból átalakított tűzoltásra alkalmas kocsi mellé nagyban elősegíti a tűzesetek időben való lokalizálását. 2009-ben a Csilla von Boeselager Stiftung alapítványtól Dr. Elisabetth Fessl de Alemany  asszony vezetésével ajándékozott egyesületünknek egy mercedes LAF 1316  katasztrófaelhárító – tűzoltó kocsit. A tordai önkéntes tűzoltó egyesület 3 járművével, felszerelésével a legfelszereltebb egyesület a községünkben.</div>
					<div style="text-align:justify; text-indent:5%">Az egyesület elnöke immár 16 éve Barna János, a parancsnok 14 éve Kocsis Róbert az ő odaadó munkájuknak mondhatók mindazok a sikerek, beruházások melyek az elmúlt 20 év alatt létrejöttek. Az egyesület titkárának Barna Edvin lett megválasztva.</div>
					<div style="text-align:justify; text-indent:5%">Barna János és Kocsis Róbert munkáját a Begaszentgyörgyi Községi Tűzoltó Szövetség is figyelemmel kísérte és 2009-ben Barna Jánost a Begaszentgyörgyi Községi Tűzoltó Szövetség elnökévé, Kocsis Róbertet pedig a Begaszentgyörgyi Községi Tűzoltó Szövetség parancsnokának választották meg.</div>
					<div style="text-align:justify; text-indent:5%">Barna János – elnök</div>
					<div style="text-align:justify; text-indent:5%">Tel: +381 64 169 5 169</div>
					<div style="text-align:justify; text-indent:5%"></div>
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
