<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>AZ OLYMPIA TÖRTÉNETE</h2>
					<br/>
					<img src="../static/images/olzmpia.jpg" th:src="@{/images/olzmpia.jpg}" class="img-thumbnail img-responsive" />
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%">Tordán a labdarúgás kezdete a múlt század 2o-as éveire vezethető vissza, ugyanis az akkori kisiparosok hozták be az első bőrlabdát a faluba, majd 1929-ben megalakították a település első labdarúgó egyesületét TSK ( Tordai Sport Klub ) néven. Az első alapítók között megemlíthetjük Lőrinc Mihályt, Mészáros Mihályt és Tóth Antalt. Az <a href="http://5mp.eu/web.php?a=olympia" target="_blank">Olympia</a> nevet 194o-ben kapta az együttes. Az egyesület legjobb eredményeit a 2. világháború éveiben jegyezte az akkori harmadik ligában a 4. hely megszerzésével és Tápai István lett a legjobb góllövő 1o1 találatával.</div>
					<div style="text-align:justify; text-indent:5%">Később  Kukli István lett meghatározó egyénisége az együttesnek, aki 29 évet fudbalozott, többek között a zágrábi Lokomotivában, Bjelovárban, de legtöbbet az Olympia együttesében.</div>
					<div style="text-align:justify; text-indent:5%"> A klub hosszú történetében több mint ezer játékos került ki, közülük az egyik leghíresebb Tóth Antal – Lukács volt,aki magára öltötte még az újvidéki Vojvodina, a  kúlai Jugosloven és végül a berlini Herta mezét is.</div>
					<div style="text-align:justify; text-indent:5%">Több mint 15 évig megszünt az egyesület létezni a nehéz gazdasági és pénzügyi gondok miatt,majd 2oo6-ban a Helyi közösség és néhány sportember erőfeszítésének köszönve az Olympia labdarúgó egyesület újra lett jegyezve és megkezdte a szereplést a begaszentgyörgyi-magyarcsernyei községközi ligában.</div>
					<div style="text-align:justify; text-indent:5%">A felnőtt csapaton kívül még két kategáriában folyik a munka, mintegy hatvan játékossal.</div>
					<div style="text-align:justify; text-indent:5%">Az egyesület elnökévé Lázár Jenőt nevezték ki, titkárnak Barna Edvint, míg a szakmunkával Kocsis Róbert és Rúzsa Tibor lett megbízva.</div>
					<br/>
					<br/>
					Elérhetőségek:
					<br/>
					Tel:    o23/831-227
					<br/>
					E-mail : lazartorda@gmail.coms
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
