<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>Fotógaléria</h2>
					<br/>
					<h3><a href="http://www.torda.rs/fotogalerija/tmn_balastya2017/index.html" target="_blank">TMN Balástya, Újszentes, Bácsfeketehegy 2017</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/tiszaalpariest_2014/index.html" target="_blank">Tiszaalpári Est 2014</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/hetnap_eloujsag_2014/index.html" target="_blank">Hét Nap élőújság 2014</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/vizsgabal_2014/index.html" target="_blank">Vizsgabál 2014</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/karacsonyi_csomagosztas_2013/index.html" target="_blank">Karácsonyi csomagosztás 2013</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/tornado_utan/index.html" target="_blank">Tornádó után</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/iteletido_tordan/index.html" target="_blank">Ítéletidő Tordán</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/tuzoltok_evi_kozgyulese_2013/index.html" target="_blank">Tűzoltók évi közgyűlése 2013</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/tmn_zarounnepseg_2013/index.html" target="_blank">Tordai Est 2013</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/kosztolanyi_oroksege/index.html" target="_blank">Bogdán József: A Kosztolányi család közelében</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/miskolc_2012/index.html" target="_blank">Összmagyar diákbajnokság Miskolc 2012</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/halotalalkozo/index.html" target="_blank">HÁLÓ TALÁLKOZÓ</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/kolbaszfesztival/index.html" target="_blank">Kolbászfesztivál Magyarittabén</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/fozoverseny_kispiac/index.html" target="_blank">Polgármesterek főzőversenye</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/tuzoltoverseny_adorjanon/index.html" target="_blank">Tűzoltó verseny Adorjánon</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/meggynapok_2011/index.html" target="_blank">Meggynapok-Bácsfeketehegy 2011</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/tordaiest2011/index.html" target="_blank">Tordai Est 2011</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/nonap2011/index.html" target="_blank">Az óvodások és az iskolások nőnapi műsora 2011</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/vadaszokek2011/index.html" target="_blank">Vadászok évi közgyűlése 2011</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/kukoricatores_2010/index.html" target="_blank">Kukoricatörő verseny 2010</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/esozesek2010/index.html" target="_blank">Esőzések 2010</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/edda_koncert2010/index.html" target="_blank">EDDA koncert-Falunap 2010</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/falunap_2010/index.html" target="_blank">Falunap 2010</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/falunap_2008/index.html" target="_blank">Falunap 2008</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/tmn_2009/index.html" target="_blank">Tordai Művelődési Napok 2009</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/ujszentes_kepekben/index.html" target="_blank">Újszentes képekben</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/tuzoltok_100eves/index.html" target="_blank">Tűzoltók 100 éves évfordulója</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/marcius_14/index.html" target="_blank">Torda 2010. március 14</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/tmn_2010/index.html" target="_blank">Tordai Est 2010</a></h3>
					<h3><a href="http://www.torda.rs/fotogalerija/marcius_15/index.html" target="_blank">Torda 2010. március 15</a></h3> 
					<br/>
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
