<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>Tordaiak Klubja</h2>
					<br/>
					<img src="../static/images/tordaiakkubjacimer.jpg" th:src="@{/images/tordaiakkubjacimer.jpg}" class="img-thumbnail img-responsive" />
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%">Torda település, 1998 tavaszán ünnepelte szerződéses letelepítésének 200. valamint a Nepomuki Szent János katolikus templom felszentelésének 150. évfordulóját. E két ragyogó jubileumot csak az vetett árnyékot, hogy a valamikor több mint 5000 lelket számláló településnek, mára már alig 1600 lakósa van és kilátásaink szerint a jövőben sem tudunk kecsegtetőbb adatokkal szolgálni.</div>
					<div style="text-align:justify; text-indent:5%"> tények birtokában a tordai Helyi Közösség Tanácsa 1998 áprilisában határozatot hozott, hogy megalakítja a Tordaiak Klubját, azzal a céllal, hogy állandó kapcsolatot teremtsünk, és rendszeresen tájékoztassuk a külföldön és a régi Jugoszlávia területén élő Tordáról elszármazottakat.</div>
					<div style="text-align:justify; text-indent:5%">Ezt követte pár toborzó összejövetel Nagybecskereken, Újvidéken, Szabadkán, majd a Helyi Közösség Tanácsának szervezésében 1998. október 17-én megtartottuk a Tordaiak Klubja Alakuló Közgyűlését. Ebből az alkalomból kinyomtattuk a Tordai Újság próbaszámát, mely rendszerességéről, elnevezéséről, formájáról és tartalmáról a továbbiakban a Tordaiak Klubja, mint kiadó hozott határozatot.</div>
					<div style="text-align:justify; text-indent:5%">A Közgyűlésen határozat született, mely szerint a Tordaiak Klubja, civil szervezet, politikamentes polgári egyesület, melynek tagjai lehetnek a Tordán élő és a Tordáról elszármazott polgárok, valamint azok barátai, akik a Klub Alapszabályát elfogadják, és annak szellemében tevékenykednek.</div>
					<div style="text-align:justify; text-indent:5%">A Közgyűlés meghatározta a Tordaiak Klubja alaptevékenységi céljait, melyek a következők:</div>
					<div style="text-align:justify; text-indent:5%">- a szülőfalunk és környéke hagyományainak, népszokásainak és folklórjának felkutatása, megőrzése és ápolása;</div>
					<div style="text-align:justify; text-indent:5%">- a Tordán élők és az elszármazottak szorosabb kapcsolatainak megteremtése, ápolása és elmélyítése</div>
					<div style="text-align:justify; text-indent:5%">- az oktatás és az iskola, mint falunk egyik legjelentősebb intézménye működéséhez szükséges alapfeltételek támogatása; </div>
					<div style="text-align:justify; text-indent:5%">- a Művelődési Egyesület, mint kultúránk és hagyományaink ápolásával megbízott szervezet, támogatása; </div>
					<div style="text-align:justify; text-indent:5%">- falunk sportéletének fellendítésére szervezett akciók támogatása,</div>
					<div style="text-align:justify; text-indent:5%">- a kölcsönös tájékoztatás rendszeres megszervezése, a Tordai Újságon keresztül, vagy e-mail formában;</div>
					<div style="text-align:justify; text-indent:5%">- falunkban tevékenykedő civil szervezettekkel való kapcsolat kialakítása és elmélyítése; </div>
					<div style="text-align:justify; text-indent:5%">- környékünkön hasonló tevékenységet végző szervezettekkel való kapcsolat létrehozása és elmélyítése; </div>
					<br/>
					<div style="text-align:justify; text-indent:5%">A Tordaiak Klubja a rendszeres tevékenység megvalósításához a Közgyűlést, melynek tagja minden Klubtag, az Elnökséget, amely hét tagú és az Ellenőrző bizottságot foglalja magába.</div>
					<br/>
					<img  src="../static/images/klubelnokseg.jpg" th:src="@{/images/klubelnokseg.jpg}" class="img-thumbnail img-responsive" />
					<br/>
					<div style="text-align:justify; text-indent:5%">E határozatok értelmében a Tordaiak Klubja 12 éve folyamatosan működik, és meggyőződése, hogy a tömegesség által, ha fizikai létben nem is, ám lélekben újra három, vagy akár négyezren is vagyunk igazi tordaiak, ami egyben megmaradásunk biztos záloga.</div>
					<div style="text-align:justify; text-indent:5%">Így bizonyosságot teszünk arról, hogy törődünk egymással, és lehetőségeink szerint támogatjuk szülőfalunkat, annak megmaradását és fejlődését.</div>
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%"><strong>A Tordaiak Klubja elérhetőségei:</strong></div>
					<div style="text-align:justify; text-indent:5%">23214 Torda, Titó Marsall 2.</div>
					<div style="text-align:justify; text-indent:5%">Telefon: 023/831-030 vagy 063/549-635</div>
					<div style="text-align:justify; text-indent:5%">e-mail: tklub@gimelnet.rs</div>
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
