<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>Petőfi Sándor”Művelődési Egyesület Torda</h2>
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%">A művelődési élet fejlesztése a szinjátszással vette kezdetét Tordán 1920-ban.Az egyesület két háborút  átélve is próbált sikeresssen működni.A tordai „Petőfi Sándor” Művelődési Egyesület az 1980-as években élte fénykorát,ekkor működött az egyesület keretein belül a szinjátszócsoporton kívül  a citerazenekar,néptánc és modern tánc csoport valamint az asszonykórus.</div>
					<div style="text-align:justify; text-indent:5%">Napjainkban a néptánccsoportjaink, nótaénekeseink és szavalóink képviselik az egyesületet. Az egyesületen belül működő 3 tánccsoport  mely öszessen 85 tagot számlál, melyek csoport vezetői Karvák Anikó és Csőke Anikó, kik egész éven át foglalkoznak a gyerekekkel.  A Petőfi Sándor művelődési egyesület igen büszke jó működő zenekarára is.</div>
					<div style="text-align:justify; text-indent:5%">Immár 9 éve a helyi közösségel  karöltve szervezzük meg a Tordai Művelődési Napok rendezvénysorozatot mely 3 hónapon át tart több mint 30 rendezvénnyel! Rendszeres résztvevői vagyunk a Gyöngyösbokrétának,valamint több vajdasági, romániai és  magyarországi településen mutattuk be egyesületünket,kultúránkat.</div>
					<div style="text-align:justify; text-indent:5%"> A Petőfi Sándor Művelődési Egyesület elnöke igen agilis fiatal ember Barna Edvin, aki igyekszik a művelődési egyesület részére igen nehéz időkben is biztosítani az egyesület folyamatos munkáját. Az egyesület  vezetősége fiatal de a munkáját nagyon jól végező csapat. A vezetőség tagjai a valamikori  és mostani táncosok, zenészek, színjátszók,nótaénekesek, jogászok .</div>
					<br/>
					<div style="text-align:justify; text-indent:5%">Elérhetőség:</div>
					<div style="text-align:justify; text-indent:5%">Barna Edvin – elnök</div>
					<div style="text-align:justify; text-indent:5%">Tel: +381 64 167 03 49</div>
					<div style="text-align:left; text-indent:5%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+381 62 215 177</div>
					<div style="text-align:justify; text-indent:5%">e-mail: edvinbarna@freemail.hu</div>
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
