<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>VÍZKÚRA</h2>
					<br/>
					<div style="text-align:justify; text-indent:5%">A "Szent György" ásványvíz forrását 1923-ban fedezték fel Tordán, amióta palackozva is van, rövidebb-hosszabb szünetekkel. Ujabb kori analízisek arra utalnak, hogy ez az ásványvíz a nátrium-magnéziumos,szulfát-hidrokarbonátos, keserű, szelén tartalmú, magas ásványi só tartalmú ásványvizekhez sorolható. Hatása igen is érezhető olyan személyeknél akiknek emésztési zavarai vannak.Hat az emésztési szervekre, mint az epe, máj, vese, mégpedig normalizálja a működésüket. így rendezhet szívműködési és vérnyomással kapcsolatos zavarokat. továbbá gyomorsavtúltengést, epehólyaggyulladást, epekövesedést és az aranyeret is gyógyítja.</div>
					<br/>
					<img src="../static/images/06_viz.jpg" th:src="@{/images/06_viz.jpg}" class="img-thumbnail img-responsive"/>
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%">A forrás felszíni jellegű, szubártezi források közé tartozik, ugyanis az ásványvíz nyomása nem tud a felszínre törni és így a vizet a Föld felszínére juttatni. így az ásványvíz szintje a Föld felszíne alatt van.Az ásványvíz eredete, a geológiai metszet, profil a forrás környéken igen érdekes és több szakembert izgat a mai napig is.</div>
					<div style="text-align:justify; text-indent:5%">A tordai keserű vizet több alkalommal is kivizsgálták híres intézmények és egyének. Az egyike a legelsőknek volt az 1930-as években, a strassburgi dr. Paul Blum, professzor, akinek a vizsgálata szerint gazdag kálium szulfidban, nátrium szulfidban, magnéziumban,szelénben stb..Az első hivatalos elemzések 1959- ben készültek el Belgrádban az ottani egészségügyi intézetben, ahol a vizet gyógyvízzé nyilvánították. Az utóbbi időszakban is készültek elemzések, amelyek újból bizonyították a víz gazdag ásvány tartalmát és gyógyhatását.</div>
					<div style="text-align:justify; text-indent:5%">A gyógyvizet több forrásból is kapjuk, de a források közül a Szent Györgyön kivül az elmúlt időszakban még csak a Jordán-forrásból aknázták ki a vizet. Mind a két forrásból még az 1920-as évek végén megkezdődött a víz kiaknázása. A gyógyvizet palackozva nemcsak Jugoszláviában forgalmazták, hanem Európa több országába és Amerikába is szálítottak. 1940 és 1956 között, ismeretlen okok miatt, szünetelt a gyógyvíz hasznosítása. 1956-ban a szomszédos melencei Ruszanda gyógyfürdő átvette a két kiaknázott forrást új épületet épített, kutat furatott és Torda-gorka voda néven megkezdte a gyógyvíz újbóli forgalmazását.Néhány év után azonban újból leállt a víz kiaknázása és az csak 1995-ben indult meg néhány újvidéki vállalkozónak köszönve akik megalakították a Bona Aqua nevű céget és kibérelték az épületet és a forrást. A vizet palackozva Szent György néven újból árusítani kezdték ország szerte. A meglevő épülethez 1998-ban új korszerű palackozó épült a gyógyvíz palackozására. Az utolsó tulajdonos halála után. 2000 végén, sajnos a víz palackozása és forgalmazása újból megszűnt. A gyógyvíz forrás (kút) az épület és környéke is helybeli földművesszövetkezet tulajdonát képezi.</div>
					<div style="text-align:justify; text-indent:5%">Szemelőtt tartva a források és a víz gyógyhatását és gazdasági jelentőségét a falu további fejlődésében, legcélszerűbb volna a víz újbóli kiaknázása új befektetőkkel egy kisebb gyógyfürdő kereteiben.</div>
					<br/>
					<div style="text-align:justify; text-indent:5%">Meg kell említeni, hogy a faluhoz közel két termálvíz forrás is van (amely Naftagas tulajdona) és ezt is ki-lehetne használni, összekötni a gyógyvízzel.</div>
					<br/>
					<div style="text-align:justify;">BEFEKTETÉS</div>
					<div style="text-align:justify; text-indent:5%">A meglevő épületet, megfelelő átalakítással, fcllchctnc használni megfelelő orvosi rendelő kialakítására. Egy új épület felépítésére is szükség lenne (amelyre a jeleniegi területen lehetőség is van), amelyben a megfelelő gyógykezelés történne a gyógyvíz közvetlen felhasználásával. Ugyanitt néhány szobát is fel kellene építeni, ahol a betegek huzamosabb ideig tartózkodni tudnának. A gyógyvíz ilyen közvetlen felhasználásával sokkal jobban és közvetlenebbül ki lehetne használni a víz gyógyhatását és a betegek gyorsabb felépüléséhez is hozzájárulna a helyszíni orvosi felügyelet. Megemlítjük azt is , hogy a melencei Ruszanda gyógyfürdő közelsége nem jelentene akadályt, hisz a tordai gyógyvízzel más betegségeket lehet gyógyítani.</div>
					<div style="text-align:justify; text-indent:5%">A gyógyvíz e kezdezi kihasználása után, néhány környező terület felvásárlásával lehetőség nyílhatna a gyógyfürdő bővítésére is, méghozzá egy rekreációs-üdülő központ (medencék, vendéglátóipari létesítmények stb. kiépítésével) keretében, amely a jelen pillanatban is egyedülálló volna Észak és Közép-Bánátban.</div>
					<div style="text-align:justify; text-indent:5%">A gyógyvíz palackozását és forgalmazását melléktevékenységként is újból be lehetne indítani.</div>
					<div style="text-align:justify; text-indent:5%">Meg kell azt is említeni, hogy az eddigi kutatások és elemzések azt mutatják, hogy a vizet még meghatározatlan időre lehet kiaknázni.Ugyanakkor a gyógyfürdő kiépítése előtt valószínűleg szükség lessz újabb próbafúrásokra is,elsősorban is a kapacitás megállapítása végett.</div>
					<br/>
					<div style="text-align:justify; text-indent:5%">A gyógyfürdő kiépítése ( a meglevő épület átalakítása, az új épület és szálloda felépítése, a szükséges felszerelése és bútorzat beszerzése, medencék kiépítése) tervek és a jeleniegi árak szerint néhány millió euróba kerülne (50-100 férőhelyes kapacitással).</div>
					<div style="text-align:justify; text-indent:5%">A víz újbóli kiaknázása és a betegek gyógyítása miatt keressük azokat a befektetőket, támogatókat, akik hajlandóak volnának pénzt befektetni a fürdő építésébe, mert nekünk nincs anyagi lehetőségünk erre.</div>
					<span> VÍZ ELEMZÉS
					<br/>
					Melléklet: Az ásványvíz összetétele
					<br/>
					<br/>
					Kálium K ...............1,48
					<br/>
					Kalcium Ca........... 54,45
					<br/>
					Bikarbonát......... 1016,90
					<br/>
					Magnézium Mg......169,00
					<br/>
					Szulfát So...........1188,00
					<br/>
					Klorid Cl.............258,00
					<br/>
					Vas Fe...................0,030
					<br/>
					Szelen ...................0,006
					</span>
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
