<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>,,Szent Hubertusz” Vadászegyesület</h2>
					<br/>
					<div style="text-align:justify; text-indent:5%">A tordai Vadászegyesület megalakulásának időpontjáról egy szerződés 1905-öt jelöli meg. Egy másik feljegyzés szerint 1926.II.26-án jött létre az egyesület 18 alapító taggal. A hivatalos bejegyzés az akkori Vadászszövetségbe 1927.IV.18-án történt. Miután kiosztották a népnek a mintegy 8600 katasztrális hold grófi birtokot, aztán alakult ki a vadásztársaság, amely úgy működött, hogy a vadászok bérletet fizettek az államnak a vadászterületért. A terület nem volt lecsapolva, tehát rengeteg volt a vízivad, ez mellett a nyúl és a fogoly is, míg a fácán és az őz a negyvenes évek végén jelent meg területünkön. Az 1941-es összeomláskor a vadászat is megszűnt, majd a háború befejeztével megkezdődött az újraszervezés. A tagságot mind több fiatal földműves és dolgozó bővítette, megszűnt a kiváltság. Az egyesület 4675 hektáron gazdálkodik, és az utóbbi 40 évben nagyon sokat fejlődött. Földvásárlással, erdőtelepítéssel, vadetetők létesítésével, ártézi kutak fúrásával biztosította a vadak védelmét és a szaporodásukhoz szükséges feltételeket. Régebben a turizmus nagyon jó pénzforrás volt az egyesületnek, de sajnos ez jelenleg nem mondható el. Élőnyúl befogással a 70-es évek elején foglalkoztak nagy eredménnyel, amit a lejárt években újrakezdtünk. 1983 januárjában lőtték az első vaddisznót a tordai határban. A szomszédos vadászegyesületekkel nagyon jól együttműködünk úgy a vadászat, mint a vadállomány megőrzése terén. 2001 óta felkaroljuk azokat a kiskorú gyerekeket, akik szeretnének vadászattal foglalkozni, így már nyolc fiatal letette a gyakornoki időt, vadász, és fegyverforgatási jogosítványa van és tagja az egyesületnek. Jelenleg nyolc gyakornok vadászjelöltünk van. Egyesületünk 2008-ban bővítette otthonát. A külső munkálatok már jól készen vannak, jelenleg az épület belsejében tevékenykednek a mesterek. A tagság 2010. 02. 03-án megtartott ülésén egyhangúlag úgy döntött, hogy a társaság ezentul a „Szent Hubertusz” nevet a vadászok védőszentjének a nevét viseli. Jelenleg a tagság 50 főből áll  és közülünk hárman tiszteletbeli tagok.</div>
					<div style="text-align:justify; text-indent:5%">A társaság az ide érkező vadászoknak kiválló vadászati lehetőséget kínál : Őzbakra, Nyúlra, Fácánra, Fürjre, Vadgalambra a Szerbiai Vadászszövetség árjegyzéke szerint.</div>
					<div style="text-align:justify; text-indent:5%">Az egyesület elnöke jelen pillanatban Csőke Nándor,titkár Samu Zoltán,a vadászmester pedig Bakusz Nándor.</div>
					<h5>Elérhetőségek:</h5>
					<div class="col-sm-6" style="text-align:center">						
						Csőke Nándor                                                 
						<br/>
						Elnök                                                             
						<br/>
						064-18-21-675                                                
					</div>
					<div class="col-sm-6" style="text-align:center">
						Samu Zoltán
						<br/>
						Titkár
						<br/>
						065-62-15-205
					</div>
					<br/>	
					e-mail:csoke.nandor@gmail.com
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
