<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>MÁLTAI SZERETETSZOLGÁLAT</h2>
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%">A szerbiai Máltai Szeretetszolgálat helyi szervezete 2001-ben alakult. Ma már több mint 20 tagja, aktivistája van. Tevékenysége  humanitárius segélyek biztosítása és azok továbbítása elsősorban is a rászorultak, betegek, nagycsaládosok részére. Az elmúlt időszakban több száz helybeli polgár részesült (töbször is) segélyben, elsősorban is ruházatban és élelmiszerben. A helyi szervezet segítette a helyi civil szervezeteket is. Segítségével került a katasztrófaelhárító gépkocsi és az utasszállító kombi is az önkéntes tűzoltó egyesülethez.</div>
					<div style="text-align:justify; text-indent:5%">A szeretetszolgálat több alkalommal szervezett helyben is gyűjtési akciót mások megsegítésére. Rendszeresen résztvesz a gyerekek és idősek karácsonyi-újévi  ajándékcsomagjainak biztosításában is.</div>
					<div style="text-align:justify; text-indent:5%">A helyi szervezet tevékenységével az egyik legaktívabb helyi szervezete a Máltai Szeretetszolgálatnak.</div>
					<div style="text-align:justify; text-indent:5%">A helyi szervezet elnöke Dobai János, alelnöke Szalma Valéria.</div>
					<br/>
					<div style="text-align:justify; text-indent:5%">Elérhetőség:</div>
					<div style="text-align:justify; text-indent:5%">Máltai Szeretetszolgálat helyi szervezete</div>
					<div style="text-align:justify; text-indent:5%">23214 Torda</div>
					<div style="text-align:justify; text-indent:5%">Tito Marsall 2 </div>
					<div style="text-align:justify; text-indent:5%">Telefon: +38123831-020</div>
					<div style="text-align:justify; text-indent:5%">Email: mztorda@gimelnet.rs</div>
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
