<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<div class="col-sm-8" style="text-align:center; border:2px">
					
					<!-- Add Google Maps -->
					
					<iframe width="475" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.hu/maps?f=q&amp;source=s_q&amp;hl=hu&amp;geocode=&amp;q=torda+serbia&amp;sll=45.527517,20.486755&amp;sspn=0.117133,0.220757&amp;g=torda+serbia&amp;ie=UTF8&amp;hq=&amp;hnear=Torda,+Vojvodina,+Szerbia&amp;ll=45.666846,20.496368&amp;spn=0.234036,0.441513&amp;t=h&amp;z=11&amp;output=embed"></iframe>
					<br/>
					<br/>
					<small><a href="http://maps.google.hu/maps?f=q&amp;source=embed&amp;hl=hu&amp;geocode=&amp;q=torda+serbia&amp;sll=45.527517,20.486755&amp;sspn=0.117133,0.220757&amp;g=torda+serbia&amp;ie=UTF8&amp;hq=&amp;hnear=Torda,+Vojvodina,+Szerbia&amp;ll=45.666846,20.496368&amp;spn=0.234036,0.441513&amp;t=h&amp;z=11" style="color:#0000FF;text-align:left">Nagyobb térképre váltás</a></small>
					
					<!--<div id="googleMap" style="height:400px;width:100%;"></div>
					<script>
					function myMap() {
						var myCenter = new google.maps.LatLng(45.5827459,20.4299565);
						var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
						var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
						var marker = new google.maps.Marker({position:myCenter});
						marker.setMap(map);
					}
					</script>
					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>-->
					
					
				</div>

				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>
		
	
	</body>
</html>
