<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<div class="col-sm-8" style="text-align:center; border:2px">
					<h4>HELYI KÖZÖSSÉG TANÁCSÁNAK ÖSSZETÉTELE (2017-2021)</h4>
					<br/>
					<div style="text-align:justify; text-indent:5%">Dobai János, helyi közösség elnöke, polgármester</div>
					<div style="text-align:justify; text-indent:5%">A Tanács tagjai (Dobai János által kinevezettek): </div>
					<div style="text-align:justify; text-indent:6%">Lázár Jenő, alelnök (alpolgármester)</div>
					<div style="text-align:justify; text-indent:6%">Kocsis Róbert, alelnök (alpolgármester)</div>
					<div style="text-align:justify; text-indent:6%">Kovács Zsuzsanna, tag</div>
					<div style="text-align:justify; text-indent:6%">Barna Edvin, tag</div>
					<div style="text-align:justify; text-indent:6%">Németh Tibor, tag</div>
					<div style="text-align:justify; text-indent:6%">Pósa Nándor, tag</div>
					<div style="text-align:justify; text-indent:6%">Kovács István, tag</div>
					<div style="text-align:justify; text-indent:6%">Sági K. Krisztina, tag</div>
					<div style="text-align:justify; text-indent:6%">Dvorák Ede, tag</div>
					<div style="text-align:justify; text-indent:6%">Detki Vendel, tag</div>
					<div style="text-align:justify; text-indent:5%">A titkári (jegyzői) teendőket Szalma Valéria végzi.</div>
					<div style="text-align:justify; text-indent:5%">Elérhetőségek:</div>
					<div style="text-align:justify; text-indent:6%">Telefon és faxszám: +38123831020</div>
					<div style="text-align:justify; text-indent:6%">E-mail cím:mztorda@gmail.com</div>
				</div>
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
