<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>

				<div class="col-sm-8" style="text-align:center">	
					<h2 style="text-align:center">Torda</h2>

					<div style="text-align:justify; text-indent:5%">Torda település Vajdaságban a Bánátban, Nagybecskerek, Törökbecse, Nagykikinda, Magyarcsernye és Begaszentgyörgy között terül el. Tengerszint feletti magassága 83 méter. 1960 óta közigazgatásilag Begaszentgyörgy községhez tartozik. Észak felé Basahíddal 7 km 5,5 m széles 1985-ben épült aszfaltút köti össze, délre Udvarnok felé 5 m széles új aszfalt út vezet, míg keletre Banatsko Karađorđevo irányába 1988-ban épült 7 km hosszú és 5,5 m széles aszfaltút húzódik.</div>
					<div style="text-align:justify; text-indent:5%">A 2002-es népszámlálás után arra a következtetésre jutottunk, hogy több mint 20 éve még 5000 embert számlálta falunk, mostanára pedig alig van 1791 lakója. Ezek közül 1623 (91,35 %) magyar, 42 (2 %) szerb, 6 horvát (0,3 %) és egy német. A faluban 72 (4 %) roma él, 42 ember pedig nem nyilatkozott nemzetiségi hovatartozásáról. A lakosság túlnyomó többsége 1623 (91,35 %) személy római katolikus vallású, 71 (4 %) pravoszláv, 5 református (0,2 %), 1 evangélikus (0,05 %) és 2 (0,1 %) kálvinista. A többi polgár ateista vagy nem nyilatkozott felekezeti hovatartozásáról.</div>
					<div style="text-align:justify; text-indent:5%">Az anyanyelvet illetően, 1637 (91,5 %) személy a magyar nyelvet vallja anyanyelvének, 63 (3,5 %) személy a szerb nyelvet, 3 (0,16 %) a horvát nyelvet, 84 (4,5 %) a roma nyelvet, egy a németet (0,05 %) és két személy (0,14 %) a román nyelvet. Ketten nem nyilatkoztak anyanyelvükről.</div>
					<h3 style="text-align:center">Elnevezés</h3>
					<div style="text-align:justify; text-indent:5%">Torda mint falunév már megtalálható a XIII. és XIV. századi okiratokban. A „Bánságban levő Torda" elnevezés, amelyről a krusevói Pomenra hivatkozva D. J. Popović és dr. Pavle Tomić tesz említést, a mi falunkra vonatkozik.</div>
					<div style="text-align:justify; text-indent:5%">Az 1776 és 1798 között idetelepített Szeged környéki telepesek 1798-ban szerződést írtak alá a gróf megbízottjával 8600 kat. hold birtok elmunkálására. Benák Imre tordai születésű tanító, aki 1905-tol 1938-ig tanított szülőfalujában, 1924-ben 79 oldalon összefoglalta szülőfaluja történetét és 1798-as dátumot jelöl meg Torda Szerződéses Helység néven. Ez a név szerepel minden okiraton egészen 1881-ig. 1881-ben megtörtént az első megörökölés, mely szerint a grófi birtokból 1287 kat. hold és 298 szögöl földet kimértek a tordai telepeseknek 25 évi törlesztésre 5 %-os kamattal. A nagybecskereki királyi törvényszék a hivatalos okíraton csak Torda nevet említ. Ezután minden okiraton Torontáltorda nevet találunk egészen 1922. február 9-ig. Február 9-e után 1935. április 23-ig ismét csak Torda néven szerepel a helység. Ettől kezdve egészen 1947. június 26-ig Vujićevo név alatt találjuk afalut bejegyezve.</div>
					<div style="text-align:justify; text-indent:5%">Ehhez azonban egy kis magyarázat is tartozik. Ismeretes, hogy az 1934-es parlamenti választásokon Vujić képviselö körtesbeszédében a tordaiaknak azt ígérte, ha őt megválasztják képviselőnek, akkor Torda kap keskeny nyomtávú vasutat Udvarnoktól Tordáig, ezenkívül hidat is ígért. Az egyik szavazópolgár így szólt a képviselőjelölthöz: „De folyónk sincsen", mire a képviselőjelölt azt válaszolta: „Folyót is kaptok". A látszat kedvéért a korteshadjárat idején Udvarnoktól Tordáig le is verték a karókat a kijelölt helyre, ahol majd a keskeny nyomtávú vasutat ki fogják építeni. A szavazás végeztével azonban a karókat felszedték, és nem lett Tordának se vasútja, se hídja, se folyója. A falu azonban felvette a megválasztott képviselő nevét. A képviselő úr tisztségének elfoglalása után nem volt méltó egyszer sem fogadni a tordai küldöttséget. 1947. június 26 -tól a mai napig ismét Torda a falu neve.</div>
					<div style="text-align:justify; text-indent:5%">1960 óta a falut a Helyi Közösség Tanácsa irányítja. A hatvanas években épült székháza a falu központjában, a Tito Marsall u. 2-es szám alatt található. A múlt század kilencvenes éveiben a nagy nincstelenség, háborús veszély és gazdasági válság folytán lelassult a falu fejlődése, a helyi közösség az ún. helyi járulékkal, azaz pótadóval begyűjtött pénzekkel és különféle (például a begaszentgyörgyi községtől kapott támogatásokkal) gazdálkodik.</div>
					<div style="text-align:justify; text-indent:5%">1923-ban Szekeres István helybeli lakos kútásás közben kesernyés ízű vízre bukkant. A víz vegyi elemzése után megkezdődött a gyógyhatású „keserevíz" palackozása, amelyet   az   európai   és   amerikai   piacra   is szállítottak. Hosszabb-rövidebb megszakításokkal 2001-ig termelték ki  a faluban a két forrásból fakadó Jordán és Szent György elnevezésű gyógyvizet, amely elsősorban a gyomorbántalmak orvoslására vált be kitűnően.</div>
					<div style="text-align:justify; text-indent:5%">Az önkormányzat újabban ismét tervbe vette a gyógyvízforrás kiaknázását, egy kisebb méretű gyógyfürdő létrehozását szorgalmazza. A falu határában két, eddig még kihasználatlan termálvízforrás is található. A faluban korszerű egészségház szolgálja a betegeket, szép művelődési otthona 300 személyes színházteremmel, kis teremmel, bárral és társalgóval rendelkezik, emellett gondozott sportpálya, ifjúsági otthon található a faluban, továbbá néhány vegyesbolt, vendéglátó-ipari létesítmény, piac és középületek az intézmények, vállalatok részére. A ma is álló barokk stílusú római katolikus templom 1846 és 1848 között épült, a parókia pedig 1964-ben. Az Ady Endre nevét viselő nyolcosztályos általános iskola emeletes épülete 1938 óta  áll   a  falu   központjában,   1989-ben   teljesen felújították. Az iskolában magyar nyelven folyik a tanítás. Az óvodában kis- és   nagycsoportban foglalkoznak a gyerekekkel.</div>
				</div>	
				
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
		
	</body>
</html> 
