<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>A TORDAI ADY ENDRE ÁLTALÁNOS ISKOLA</h2>
					<br/>
					<div style="text-align:justify; text-indent:5%">Falunkban az oktatás kezdete 1803-ra vezethető vissza, ugyanis ekkor épült fel az első nádfedeles iskola. 1871-ben megjelent minisztériumi rendelet megállapította a tordai iskolák jellegét és elnevezését is, így a tordai iskola neve: TORDAI KÖZSÉGI ELEMI NÉPISKOLA lett. </div>
					<div style="text-align:justify; text-indent:5%">1929-ben már négy iskolaépület volt, összesen hét tanteremmel. Alig tíz évre, 1938-ban a központban levő régi iskola helyén egy új egyemeletes iskola épült, ahol négy tanterem és két tanári lakás volt. A felszabadulás után 1946/47-es iskolaévtől az 1950/51-es iskolaévig hét osztályos volt az általános iskola. 1951/52-es iskolaévtől vette kezdetét falunkban a nyolc osztályos általános iskola. A felszabadulás után a tanintézmény felvette az Ady Endre Általános Iskola nevet. Ami megmaradt, ami közös vonása a régi és az új iskolarendszernek is, az az iskolaszék megléte. Az első iskolaszéket 1871-ben alakították meg 13 taggal. Az iskolaszéknek joga volt az iskolában folyó oktatás ellenőrzésére. Az iskolaszék ma is jelen van, és hasonló feladatokkal rendelkezik.</div>
					<div style="text-align:justify; text-indent:5%">Az 1938-ban épített egyemeletes iskolaépületet 1988/89-es iskolaévben felújították, kibővítették. 1990. szeptember 1-jén kezdődött meg a munka a felújított iskolában, és a mai napig itt történik a tanulók oktatása és nevelése.</div>
					<br/>
					<img  src="../static/images/os_adi_endre_torda.jpg" th:src="@{/images/os_adi_endre_torda.jpg}" class="img-thumbnail img-responsive"/>
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%">Iskolánk 1994-től a Banatsko Karađorđevo-i általános iskola kihelyezett tagozataként működik. A 2009/2010-es iskolaévben 146 tanulónk van. A tőlünk 9 km-re levő Törzsudvarnokról 8 tanuló utazik hozzánk, ugyanis, ott csak alsó tagozatokon van magyar nyelvű oktatás. Iskolánkban az oktatás magyar és szerb nyelven folyik. Tanulóink anyanyelvünk mellett a szerb nyelvet, mint környezetnyelvet, valamint a német és angol nyelvet tanulják. A kötelező választott tantárgyak közül a diákok 100%-a a hitoktatás óráit látogatja.</div>
					<div style="text-align:justify; text-indent:5%">Iskolánk munkaközössége 22 tagú: 5 tanítónő, 13 tanár és 4 segédszemélyzet. Ami a szakkádert illeti, négy tantárgyat oktatnak iskolánkban nem megfelelő végzettséggel rendelkező tanárok (matematika, fizika, angol nyelv, képzőművészeti kultúra).</div>
					<div style="text-align:justify; text-indent:5%">Tanulóink a Vajdaság városaiban Nagybecskereken, Zentán, Csókán, Szabadkán, Kanizsán, Újvidéken és Futogon tanulnak tovább.</div>
					<div style="text-align:justify; text-indent:5%">A 2009/10-es iskolaévben, november 8-án a pedagógusok napján, a Tartományi Végrehajtó Tanács épületében oktatási intézményünk igazgatónője átvette a Đorđe Natošević díjat. E díjat minden évben a tartományi képviselőház odaítéli a legkimagaslóbb eredményeket elért iskolának és egyénnek. </div>
					<div style="text-align:justify; text-indent:5%">Iskolánk sikeresen együttműködik a helyi szervezetekkel is. Eredményes együttműködésünk van a tordai Helyi Közösséggel, a Tordaiak Klubjával, a Földműves Szövetkezettel, a Fácán Vadász Egyesülettel, a Petőfi Sándor Művelődési Egyesülettel, valamint az Olimpia Sportegyesülettel.</div>
					<div style="text-align:justify; text-indent:5%">Iskolánknak állandó rovata van a Tordaiak Klubja által kiadott Tordai Újságban a Csicsergő című oldalakon. Ez mellett sikeresen tevékenykednek iskolánk kis újságírói is, hiszen ötödik éve, hogy évente négyszer jelenik meg iskolai újságunk, a Cimbora.</div>
					<div style="text-align:justify; text-indent:5%">Tanulóink részt vesznek a versenyeken, pályázatokon, rendezvényeken, ahol igen szép és kimagasló eredményeket érnek el.</div>
					<div style="text-align:justify; text-indent:5%">Iskolánk közössége nagyon büszke minden tanulóra, akik az eredményeik által nevezetesebbé, ismertebbé tették és teszik mind iskolánkat, mind falunkat.</div>
					<div style="text-align:right;">
						Kovács Zsuzsanna,
						<br/>
						Igazgatóhelyettes 
					</div>
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
