<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>TORONTÁLTORDA ALAPÍTVÁNY</h2>>
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%">Torontáltorda Falufejlesztési Alapítvány 2004-ben lett bejegyezve a vajdasági művelődési titkárságon. Az alapítvány elsődleges célja, hogy résztvegyen a falu fejlesztésében minden téren (beruházások, gazdaság, mezőgazdaság, oktatás, hagyományápolás, művelődés, spor, szociális és egészségvédelem és hasonlók). Az Alapítvány az elmúlt időszakban számtalan gazdasági , művelődési, hagyományápoló, szórakoztató rendezvény társszerzője volt.</div>
					<div style="text-align:justify; text-indent:5%">Fontos kiemelni a pályázatok jelentőségét is, hisz az Alapítvány az elmúlt időszakban számtalan megírt pályázatával nyert sikerrel (Szerbiában, Vajdaságban és Magyarországon), amellyel nagyban hozzájárult a beruházások megvalósításához és a különböző rendezvények megtartásához.</div>
					<div style="text-align:justify; text-indent:5%">Az Alapítvány elnöke Dobai János, titkára Szalma Valéria.</div>
					<br/>
					<div style="text-align:justify; text-indent:5%">Elérhetőség:</div>
					<div style="text-align:justify; text-indent:5%">Torontáltorda Alapítvány</div>
					<div style="text-align:justify; text-indent:5%">23214 Torda</div>
					<div style="text-align:justify; text-indent:5%">Tito Marsall 2 </div>
					<div style="text-align:justify; text-indent:5%">Telefon: +38123831-020</div>
					<div style="text-align:justify; text-indent:5%">Email: mztorda@gimelnet.rs</div>
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
