<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>Rólunk</h2>
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%">A  tordai  „Sport Horgászegyesület TORDA”  néven alakult meg , hivatalosan bejegyezve  2009.március.24 - től.  Az egyesület tevékenységét a  faluvégi,  közkedvelt néven „Nagygödör”  - nél  viszi végben, mivel átalakítható olyan vízfelületé amelyet az egyesület tagjai horgászásra fognának  használni, illetve remélhetően lenne más ökológiai előnye is mivel a térségben nincs más vízfelület.Az ökológia fogalma ma már több mint 100 éves múltra tekint vissza, de széleskörű elterjedésére csak az utóbbi egy-két évtizedben került sor.  Előtte sajnos igen komoly befektetéseket szeretnék végrehajtani pályázatokon keresztül és más forrásokból, hogy a   Nagygödör megkapja végső kinézetét . Ki kell takarítani és vízzel feltölteni.</div>
					<div style="text-align:justify; text-indent:5%">Céljaink:</div>
					<div style="text-align:justify; text-indent:5%">1. A horgászat törvényes feltételeit vállaló tagjaink érdekképviselete, engedélyekkel való ellátása és horgászati lehetőségeinek folyamatos fejlesztése, bővítése.</div>
					<div style="text-align:justify; text-indent:5%">2. Településünk szélén lévő Nagygödör természeti kincsünk. Állagának megóvása és továbbfejlesztése érdekében a helyi önkormányzattal, mint fő támogatónkkal közösen gondozzuk környezetét és javítjuk  minőségét, fenntartjuk ökológiai egyensúlyát. Ennek érdekében olyan,  őshonos halakat telepítünk, amelyek segítségével természetes módon tisztul a vize és a rövid időn belül az itt élő és a távolról érkező pecásoknak kellemes horgászélményt, családjaiknak kikapcsolódást nyújt.</div>
					<div style="text-align:justify; text-indent:5%">3.  hazai horgász egyesületekkel történő kapcsolat felvételt követően igényeik alapján horgászversenyek szervezése, lebonyolítása.</div>
					<div style="text-align:justify; text-indent:5%">A horgászok mindent megtesznek annak érdekében, hogy a megszerzett vizeknek jó gazdái legyenek. Szervezeti rendszerük a civil szerveződések számára oktatni való példaképe lessz,…</div>
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
