<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center">
					<h2>„ Orgonavirág” Hagyományápoló Kézimunka  Csoport Torda</h2>
					<br/>
					<br/>
					<div style="text-align:justify; text-indent:5%">Az „ Orgonavirág” Hagyományápoló Kézimunka  Csoport 38-40 tagot számlál, akik igen aktívak a munkában. A csoport bejegyzése a minisztériumban 2007-ben történt , amikor Sredojev Irén lett elnökké választva , alelnöknek Csipa Jolán és titkárnak Ševarika Rozália.</div>
					<div style="text-align:justify; text-indent:5%">Megalakulásunkkor egy etno-szobát rendeztünk be a Žarko Zrenjanin 20. Cím alatti épületben, ahol a csoportunk székhelye is található.</div>
					<div style="text-align:justify; text-indent:5%">Megalakulásunk óta nagyon sok rendezvényen, kiállításokon, etnofesztiválban, főzőversenyen, kalácssütő versenyeken vettünk részt. Évente 3-4 jelentős rendezvényt szervezünk . Januárban és márciusban a tordai művelődési  napok rendezvénysorozatában kiállítást és kalácssütő versenyt szervezünk , majd szeptemberben kukoricatörő-szárvágási versenyt rendezünk, amit  december végén a „Szenteste – Tordán” néven ismert Szentestei ünnepség követ.</div>
					<div style="text-align:justify; text-indent:5%">Évente kétszer rendezünk  kézimunka kiállítást Húsvétkor és Karácsonykor.</div>
					<div style="text-align:justify; text-indent:5%">Csoportunk minden évben 40-50 kiállító munkájával részt vesz a Nemzetközi kézimunka kiállításon valamint a Vajdasági kézimunka kedvellők szövetségi kiállításán igen szép eredménnyel.</div>
					<div style="text-align:justify; text-indent:5%">2008-ban Muzslyán a 6. helyezést értük el a Nemzetközi kézimunka kiállításon, 2009-ben  pedig a 9. Helyen végeztünk. 23 kiállítónk 1. És 23 kiállítónk második helyezést ért el, valamint 9 kiállítónk kapott harmadik helyt, négyen nívó díjat és öt kállítónk Nagymesteri elismerésben részesült.</div>
					<div style="text-align:justify; text-indent:5%">Az alaptevékenységünkhöz tartozik a Nőnapi bál megszervezése, valamint három teadélutánt rendezünk, amikor számos más kézimunkacsoport képviselőit látjuk vendégül.</div>
					<div style="text-align:justify; text-indent:5%">Kapcsolatainkat Vajdasági csoportokkal ápoljuk, ilyenek a : tóbai, magyarcsernyei, hetini, beodrai, basaidi, kikindai, muzslyai, udvarnoki, begaszentgyörgyi, magyarittabei, bánát topolyai, nagybecskereki, bácska topolyai, becsei, tötrökbecsei, budiszavai, verbászi, temerini csoportokkal, akik minket is vendégül látnak minden évben rendezvényeinken és teadélutánokon.</div>
					<div style="text-align:justify; text-indent:5%">2009-ben csoportunk Karlovácon is vendégszerepelt a „NUDO-KARLOWIZ” német egyesület meghívására Nemzetközi kalácsfesztiválon, ahol a második helyezést értük szereztük meg.</div>
					<div style="text-align:justify; text-indent:5%">Hetente egyszer végezünk műhelymunkát.</div>
				</div>	
					
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>	
		
	
	</body>
</html> 
