<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- W3 CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
		
		<!-- Mobil kompatibilitási meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<title>TORDA -&Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K ,  DOBRODO&Scaron;LI , WELCOME</title>
			
	</head>
	
	<body>

		<!-- Fejléc-->
		
		<div th:replace="fragments/menu :: menu" ></div>
		
		<!--Body-->
		<div class="container-fluid" style="margin-top:10px">
			<div class="row">
				<!--Baloldal-->
				<div th:replace="fragments/left :: left" ></div>
				
				<!--Közép-->
				<div class="col-sm-8" style="text-align:center;">
					<div class="panel-group" id="accordion">
						
							
							<div class="panel panel-default" th:each="article : ${articles}">	
								<div class="panel-heading">
									<h2><a data-toggle="collapse" data-parent="#accordion" href="index.html" th:attr="href='#collapse' + ${article.id}" th:text="${article.articleName}">Hírek Címe</a></h2>
								</div>
								<div th:id="'#collapse' + ${article.id}" class="panel-collapse collapse in">	
									<div class="panel-body">	
										<br/>
										<div style="text-align:justify; text-indent:5%" th:each="text : ${texts}" th:if="${article.id == text.articleId}" th:text="${text.texts}">
											Próba
										</div>
										<br/>
										<br/>
										<div th:id="${'myCarousel' + article.id}" class="carousel slide text-center" data-ride="carousel" >
										  <!-- Indicators -->
										  	<!--<ol class="carousel-indicators">
										  		<div th:each="p , iterStat : ${pictures}" th:if="${iterStat.index == 0 or p.articleId == article.id}" th:text="${'pictureid=' + p.pictureId} + ${'iterstatindex' + iterStat.index} + ${'articleid' + article.id}">
												<div>	
													<li th:each="p , iterStat : ${pictures}" th:with="pic=${pictures[0]}" th:if="${iterStat.index == 0 and p.articleId == article.id}" th:attr="data-target=${'#myCarousel' + article.id}" th:data-slide-to="0" class="active"></li>											
													<li th:each="p , iterStat : ${pictures}" th:unless="${iterStat.index == 0 or p.articleId == article.id}" th:attr="data-target=${'#myCarousel' + article.id}, data-slide-to=${p.pictureId}"><div th:text="${iterStat.index}"></div></li>
										  		</div>
										  	</ol>-->		

										  <!-- Wrapper for slides -->
										  	<div class="carousel-inner" role="listbox" >
												<div class="item active" th:each="picture : ${pictures}" th:if="${article.id == picture.articleId}">
											  		<img src="${picture.pictureStaticPath}" th:src="@{${picture.picturePath}}" class="img-thumbnail img-responsive" />
												</div>	
										  	</div>

										  <!-- Left and right controls -->
										  <!-- <a class="left carousel-control" th:href="${'#myCarousel' + article.id}" role="button" data-slide="prev">
											<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
											<span class="sr-only">Previous</span>
										  </a>
										  <a class="right carousel-control" th:href="${'#myCarousel' + article.id}" role="button" data-slide="next">
											<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
											<span class="sr-only">Next</span>
										  </a> -->
										</div>
									</div>									
								</div>
								<hr/>
							</div>	
						<!--Itt a vége a híreknek-->		
						
					</div>	
				</div>
				
				<!--Jobboldal-->
				<div th:replace="fragments/right :: right" ></div>
			</div>
		</div>
		
		<div class="container">
			<div class="panel panel-heading">
				<div class="panel-footer">COPYRIGHT BY DOBAI RÓBERT</div>
			</div>	
		</div>
		

		
	</body>
</html> 
